
#step_1{color:#f00;}
tbody:last-child{font-size:14px;color:#aaa;border:1px #f00 solid; }
.commodity{display: flex;}
.commodity p{width:100px;margin: 0 10px;color:#999;font-size:14px;}
.commodity p span{margin-left: 20px;}
.r_step{float:right;font-size:14px;color:#aaa;}
.n_pir{font-size:16px;color:#333;}
.y_pir{text-decoration: line-through;}
.bottom{border-bottom: 2px #f00 solid;}
.goods_t {margin-top:10px;}
.goods_t p{float:left;font-size:20px;margin-left: 10px;}
.goods_t p span{color:#f00;margin-left: 10px;}
.goods_t img{float:right;}
.number {margin-right: 20px;color:#333;}
.number span{float: left;border:1px #333 solid;width:30px;height:20px;line-height: 20px;text-align: center;}
.money{color:#f00;font-weight:bold;font-size:18px;}
.zong{display: flex;justify-content: space-between;margin-top: 20px;}
footer{border:none;}
footer ul{width:648px;margin: 10px auto;}
footer ul li{width:80px;text-align: center;float: left;border-right: 1px #666 solid;color:#666;font-size:14px;}
footer ul li:last-child{border-right:none; }

#btn{width:100px;height:40px;border:none;background: #f00 ;color:#fff;}
#klm{width: 1210px;margin:20px auto;text-align: left;display: flex;justify-content: space-between;flex-wrap:wrap;}
#klm dl {float:left;width:283px;font-size:14px;}
#klm dl dt img{width:283px;}
#klm dl dd p{display:  block;width:243px;overflow: hidden;margin:10px 20px;}
.r_left{float: left;}
.r_right{float: right;color:#666;}	
.p_right{float: right;font-size:14px;color:#666;overflow:hidden}			
.p_left{float: left;font-size:16px;color:#f00;}

#picter{width:100px;height:100px;}
