<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/all.css"/>
		<link rel="stylesheet" type="text/css" href="css/goods.css"/>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="#">卖家中心</a></li>
				<li><a href="#">帮助中心</a></li>
				<li><a href="#">我的订单</a></li>
				<li><a href="goods">购物车<span>0</span></a></li>
				<li><a href="Login">登录</a></li>
				<li><a href="register">免费注册</a></li>
				<li><a href="#">QQ登录</a></li>
				<li>
					<a href="#">手机版</a>
					<ul>
					   <li>
							<img src="img-index/code_03.jpg"/>
					   </li>
					</ul>
				</li>
				<li><a href="#">800旗下网站</a></li>
			</ul>
		</nav>
		<div class="search count">
			<div class="logo">
				<img src="img-index/reach_09.gif">
			</div>
			
			<p class="r_step">
				<span id="step_1">
					我的购物车 >
				</span>
				<span id="step_2">
					确定订单信息 >
				</span>
				<span id="step_3">
					完成付款购买
				</span>
			</p>
		</div>
		<div class="bottom">
			<div class="goods_t count">
				<p>购物车<span>1</span></p>
				<img src="img/goods.png"/>
			</div>
			
		</div>
		<table class="count">
			<tr>
				<th>
					<input type="checkbox" name="" id="" value="" />全选
				</th>
				<th>
					商品
				</th>
				<th>
					单价（元）
				</th>
				<th>
					数量
				</th>
				<th>
					金额（元）
				</th>
				<th>
					操作
				</th>
			</tr>
			<tbody id="tb">
				
			</tbody>
		</table>
		<div class="count zong">
			<div class="">
				<input type="checkbox" name="" id="" value="" />全选
				<a href="#">批量删除</a>
			</div>
					
			<div class="">
				共<span id="number">
					0
				</span> 件
				
					总计（不含运费）：￥<span id="zong"> 0</span> 
				 
				<input type="button" name="" id="btn" value="结算" />
			</div>	
		</div>
		<div class="count">
			<h3>您可能还需要</h3>
			<div id="klm">
				
			</div>
		</div>	
         
         <div class="goods_list">
         	<h1></h1>
         </div>
		<footer>
			<div class="count">
				<ul>
					<li>关于我们 </li>
					<li> 诚聘英才 </li>
					<li> 服务条款 </li>
					<li> 廉正举报 </li>
					<li> 消费者保障 </li>
					<li>友情链接</li>
					<li> 意见反馈 </li>
					<li> 在线客服</li>
				</ul>
			</div>
			<p><a href="">京ICP证120075号</a>  京ICP备10051110号-5  <a href="">京公网安备11010502025623 </a> 统一社会信用代码 91110105571298269B  食品流通许可证SP1101051510352397 </p>
			<p>出版物经营许可证 新出发京零字第朝160018号  Copyright©2011-2015 版权所有 ZHE800.COM</p>
			<div class="f_img">
				<img src="img-index/toob,jpg_03.jpg"/>
				<img src="img/login0_03.jpg"/>
				<img src="img/login0_05.jpg"/>
				<img src="img/login0_07.jpg"/>
			</div>
		</footer>
	</body>
	<script src="js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/goods.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
</html>
